

.header {
    background-color: black;
    padding: 10px 50px;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    border-bottom: 1px solid seashell;
    opacity: 0.9;
}


.nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
}


.logo {
    height: 50px;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 50px; 
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: seashell;
    font-size: 22px;
    font-family: Helvetica, sans-serif;
}

.nav-links a:hover {
    text-decoration: underline;
}
